[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = Sean Wu
	email = sean_wu@edge-core.com
[core]
	editor = vim
[diff]
	tool = vimdiff
